<div class="col-md-4">

<%= link_to 'first', quizzes_path(start: 0) %></br>
<%= link_to 'second', quizzes_path(start: 5) %></br>
<%= link_to 'third', quizzes_path(start: 10) %></br>
<%= link_to 'forth', quizzes_path(start: 15) %></br>


  

</div>
<div class="col-md-8">



<h1>Listing quizzes</h1>


<% @quizzes.each do |quiz| %>
        </br>
        <%= quiz.question %>
        
        </br>
        <%= form_tag check_quiz_path(quiz), :method => :get do %>
            <p> <%= radio_button_tag :interest, quiz.option1 %> <%= quiz.option1 %> </p>
            <p> <%= radio_button_tag :interest, quiz.option2 %> <%= quiz.option2 %> </p>
            <p> <%= radio_button_tag :interest, quiz.option3 %> <%= quiz.option3 %></p>
            <p> <%= radio_button_tag :interest, quiz.option4 %> <%= quiz.option4 %> </p>
            
            <p> <%= submit_tag 'Check'%> </p>
        <% end %>    

<% end %> 
</br>
<%= link_to 'next', quizzes_path(start: @start+5) %>
</br>
</br>
</br>

</div>


