
 
            <div class = "heading-explore">
            
              Explore Top Essays

              <%= link_to 'Top', topics_path(:sort_param => "top") %> 
              
            <hr>
               
            </div>
            
            <ol class="labels-list">


              <% @topics.each do |topic| %> 
                                
                    <li class = "list-text">

                     <div class="row">
                        <div class="col-md-2">
                          <div class="row">
                            <div class="col-md-9"><div id="topic_count"><%= topic.posts.count %></br><span >Essays</span></div></div>
                              <div class="col-md-3"></div>
                          </div>
                         
                        </div>  
                        <div class="col-md-10"> 
                          <div class="row">
                            <div class="col-md-12 text-cust">   
                              <%= link_to topic do %>
                                <%= topic.issue %> 
                              <% end %>  
                            </div>

                          </div>    
                        </div> 
                      </div>                        
                    </li>
                   
              <% end %>
            </ol>
                
            <%= link_to 'New Topic', new_topic_path %>
 

      