
 

                    
                    <div class="offer offer-warning">
                   
                   
                       <div class="offer-content">
                          <div class="offer-text">
                            <p><%= @topic.issue %></p>
                            <a href="" class="btn"></a>
                        </div>
                      </div>
                   </div>     
      
        			

        		
              <%= button_to "Write Essay", new_topic_post_path(topic_id: @topic) , :class => "btn-default", :method => :get  %> 
              <hr>    
        	<!-- 		<%= link_to 'Write', new_topic_post_path(topic_id: @topic) %> -->

        		<!-- 	<%= link_to 'Edit', edit_topic_path(@topic) %> | -->
      <!--   			<%= link_to 'Back', topics_path %> -->

        			

          		<% if @topic.posts.empty? %>
          			    This movie has not been reviewed
          		<% else %>	
          		      <% @topic.posts.each do |post| %>  

                            <section class="comment-list">
                              <!-- First Comment -->
                              <article class="row">
                                <div class="col-md-2 col-sm-2 hidden-xs">
                                  <figure class="thumbnail">
                                  <%= image_tag("arrw1.jpg", :class => "img_preview") %>
                                  <!--   <img class="img-responsive" src="/srk.jpg" /> -->
                                    <figcaption class="text-center"><%= post.user.userdetail.first_name %></figcaption>
                                  </figure>
                                </div>
                                <div class="col-md-10 col-sm-10">
                                  <div class="panel panel-default arrow left panel-wid">


                                    <div class="panel-body">

                                      <div class="row">
                                         <div class="col-md-10">


                                            <header class="text-left">
                                              <div class="comment-user"><i class="fa fa-user"></i> <%= post.user.userdetail.first_name %> <%= post.user.userdetail.last_name %>   </div>
                                              <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%= post.created_at %></time>
                                            </header>

                                     
                                            <div class="comment-post">
                                       
                                        
                                                <p><%= post.description %></p>
                                            </div>
                                          </div>   
                                    <div class="col-md-2">
                                           
                                           <%=link_to (image_tag("up.png")), voteup_path(post_id: post.id, topic_id: post.topic_id), class: "xta" %>                     

                                           <div class = xta-text><%= post.votes_for.size - post.get_downvotes.size %></div>

                                           <%=link_to (image_tag("down.png")), votedown_path(post_id: post.id, topic_id: post.topic_id), class: "xta" %>
                                                                                      
                                    </div>                                
                                  </div>
                                      
                                    </div>
                                  </div>
                                </div>
                              </article>

                      
                     <!--  <%= link_to 'Destroy', [@topic, post] , method: :delete, data: { confirm: 'Are you sure?' } %> -->

                              
                    <% end %>
                <% end %>       
    



                 