<!DOCTYPE html>
<html>
<head>
  <title>GREibt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>


</head>
<body>

<%= render 'layouts/header' %>


<div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <div class="row"><div class="col-md-12 sub-header"></div></div>
            <div class="row"> 
                  
                      <!--user authentication device -->
                      <% if notice %>
                          <p class="alert alert-success"><%= notice %></p>
                      <% end %>
                      <% if alert %>
                          <p class="alert alert-danger"><%= alert %></p>
                      <% end %>



                     <!--  <div class="row">
                          <p class="navbar-text pull-right">
                            <% if user_signed_in? %>
                                Logged in as <strong><%= current_user.email %></strong>.
                                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                            <% else %>
                                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                            <% end %>
                          </p>
                      </div> -->
                      <!--user authentication device end -->
                       
                      <div class="row">
                        <div class="col-md-9">
                           <%= yield %>
                        </div>
                        <div class="col-md-3 qotd">
                              <%= render 'layouts/quiz_of_the_day' %>
                        </div>   
                      </div>     
            </div>          
        </div>


        <div class="col-md-1">


        </div>          
</div>
</body>
</html>
